
 <h1 mat-dialog-title>Crear Curso</h1>
<div mat-dialog-content>
  <form class="flex flex-column" [formGroup]="courseForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="firstNameControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Curso</mat-label>
      <input matInput [formControl]="CursoControl">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button [mat-dialog-close]="courseForm.value" cdkFocusInitial>
    Ok
  </button>
</div>
